@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla';
    margin: 0 70px;
}
h1{
    justify-content: flex-start;
}
h2, h3, p{
    font-size: 18px;
    font-weight: 400;
}
span{
    color: rgb(165, 165,165);
}
a{
    text-decoration: none;
    color:rgb(50, 58, 69);
}
a:hover{
    text-decoration: underline;
}
img{
    width: 100%;
}
a img:hover{
    opacity: 0.5;
    /* ================================Header====================== */
}
header{
 display: flex;
 justify-content: space-between;
 margin: 5% 0;
 color:rgb(50, 58, 69);
 align-items:baseline;
}
h1 a{
    font-weight:800;
    font-size: 20px;
    text-transform: uppercase;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;  
}
li a{
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
}
/* ==================section================== */
section{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
/* ===================.product================= */
.product1{
    grid-column: 1/-1;
}
.product__name{
    display: flex;
    justify-content: space-between;
}
h2 a{
    justify-content: flex-start;
    font-weight: 400;
}
p{
    align-items:flex-start;
    justify-content: flex-end;
}
/* ==============footer======== */
footer{
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6rem;
}
footer div:nth-of-type(1){
 grid-column: 1/2;
}
footer p, a:not(section a, header a){
    line-height: 1.4em;
    justify-content: flex-start;
    color:rgb(50, 58, 69);
    font-weight:300;
    font-size: 15px;
}
footer h3{
    margin-bottom: 20%;
}
.footer-end{
 grid-column: 1/4;
 font-size: 15px;
 color: rgb(165, 165,165);
 padding-bottom: 5%;
}



